@import '../../../assets/styles/variables';

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    h1 {
      font-family: $logo-font;
      font-size: 24px;
      line-height: 56px;
      span {
        margin: 0 5px;
        font-size: 16px;
        &:nth-of-type(2) {
          margin: 0 1px 0 7px;
          font-size: 14px;
        }
      }
    }
  }
}

.test-console {
  width: 600px;
  height: 400px;
  padding: 20px;
  background-color: #CCCCCC;
  font-family: monospace;
  font-size: 12px;
  .test-console__form {
    .test-console__btn {
      background-color: #777777;
      cursor: pointer;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  .test-console__monitor {

  }
}
