<div class="home-container" *ngIf="appInitialized">
  <div class="home-header">
    <h1>Tic<span>-</span>Tac<span>-</span>Toe</h1>
  </div>
  <div class="home-content">
    <div class="options" *ngIf="homeState === 'options'">
      <button class="option-btn" (click)="selectCreate()">New</button>
      <button class="option-btn" (click)="selectJoin()">Join</button>
    </div>
    <div class="options" [formGroup]="homeForm" *ngIf="homeState === 'create'">
      <p>New</p>
      <input class="option-input" type="text" maxlength="16" placeholder="Player Name" formControlName="name">
      <div class="btn-container">
        <button class="btn" [disabled]="homeForm.get('name').invalid" (click)="create()">Create</button>
        <button class="btn" (click)="backToOptions()">Cancel</button>
      </div>
    </div>
    <div class="options" [formGroup]="homeForm" *ngIf="homeState === 'join'">
      <p>Join</p>
      <input class="option-input" type="text" maxlength="16" placeholder="Game id" formControlName="matchId">
      <input class="option-input" type="text" maxlength="16" placeholder="Player name" formControlName="name">
      <div class="btn-container">
        <button class="btn" [disabled]="homeForm.get('name').invalid" (click)="join()">Enter</button>
        <button class="btn" (click)="backToOptions()">Cancel</button>
      </div>
    </div>
    <div class="game" *ngIf="homeState === 'game'">
      <div class="players" [ngClass]="{'show': matchData.players.length > 1}">
        <div class="player" *ngFor="let player of matchData.players; let idx = index">
          <img [src]="avatars[idx].url" [alt]="player.name">
          <p class="player-name">{{ player.name }}</p>
        </div>
        <div class="score">
          <span>0</span>
          <span>0</span>
        </div>
        <div class="score-divider">
          <span>x</span>
        </div>
      </div>
      <div class="table match-info" *ngIf="matchData.players.length === 1">
        <div class="info">
          <span>Game id:&nbsp;</span>
          <span class="match-id-text">{{ matchData.id }}</span>
          <input id="match-id" type="text" [value]="matchData.id" (focus)="selectId()" (change)="keepInfo()">
        </div>
        <div class="copy-info" (click)="copyInfo()">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M15 1H4c-1.1 0-2 .9-2 2v13c0 .55.45 1 1 1s1-.45 1-1V4c0-.55.45-1 1-1h10c.55 0 1-.45 1-1s-.45-1-1-1zm4 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm-1 16H9c-.55 0-1-.45-1-1V8c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v12c0 .55-.45 1-1 1z"/>
          </svg>
        </div>
        <button class="info-btn" (click)="leaveGame()">Leave</button>
      </div>
      <div class="table" *ngIf="matchData.players.length > 1">
        <button class="info-btn" (click)="leaveGame()">Leave</button>
      </div>
    </div>
  </div>
</div>


<!-- <div class="test-console" *ngIf="false">
  <div class="test-console__form">
    <div class="test-console__btn" (click)="create()">
      CREATE
    </div>
  </div>
  <div class="test-console__form" [formGroup]="joinForm">
    <p>JOIN</p>
    matchId:&nbsp;<input formControlName="matchId" type="text">
    <p>id: {{ joinForm.get('id').value || 'N/A' }}</p>
    name:&nbsp;<input formControlName="name" type="text">
    <div class="test-console__btn" (click)="join()">
      JOIN
    </div>
  </div>
  <div class="test-console__monitor" *ngIf="roomsData">
    <p>&nbsp;</p>
    <p>ROOMS DATA</p>
    <p>- rooms: {{ roomsData.rooms | json }}</p>
  </div>
  <div class="test-console__monitor" *ngIf="matchData">
    <p>&nbsp;</p>
    <p>MATCH DATA</p>
    <p>- ID: {{ matchData.id }}</p>
    <p>- ACTIVE: {{ matchData.active }}</p>
    <p>- PLAYERS: {{ matchData.players | json }}</p>
    <p>- STATE: {{ matchData.state | json }}</p>
  </div>
</div> -->
