<div class="home-container" *ngIf="appInitialized">
  <div class="home-header">
    <h1>Tic<span>-</span>Tac<span>-</span>Toe</h1>
  </div>
  <div class="home-content">
    <div class="options" *ngIf="homeState === 'options'">
      <button class="option-btn" (click)="selectCreate()">New</button>
      <button class="option-btn" (click)="selectJoin()">Join</button>
    </div>
    <div class="options" [formGroup]="homeForm" *ngIf="homeState === 'create'">
      <p>New</p>
      <input class="option-input" type="text" maxlength="16" placeholder="Player Name" formControlName="name">
      <div class="btn-container">
        <button class="btn" [disabled]="homeForm.get('name').invalid" (click)="create()">Create</button>
        <button class="btn" (click)="backToOptions()">Cancel</button>
      </div>
    </div>
    <div class="options" [formGroup]="homeForm" *ngIf="homeState === 'join'">
      <p>Join</p>
      <input class="option-input" type="text" maxlength="16" placeholder="Game id" formControlName="matchId">
      <input class="option-input" type="text" maxlength="16" placeholder="Player name" formControlName="name">
      <div class="btn-container">
        <button class="btn" [disabled]="homeForm.get('name').invalid" (click)="join()">Enter</button>
        <button class="btn" (click)="backToOptions()">Cancel</button>
      </div>
    </div>
    <div class="game" *ngIf="homeState === 'game'">
      <div class="players">
        <div class="player" *ngFor="let player of matchData.players">
          <img [src]="avatar(player.name)" [alt]="player.name">
          <p class="player-name">{{ player.name }}</p>
        </div>
        <div class="score">
          <span>12</span>
          <span>34</span>
        </div>
        <div class="score-divider">
          <span>x</span>
        </div>
      </div>
      <div class="table"></div>
    </div>
  </div>
</div>


<!-- <div class="test-console" *ngIf="false">
  <div class="test-console__form">
    <div class="test-console__btn" (click)="create()">
      CREATE
    </div>
  </div>
  <div class="test-console__form" [formGroup]="joinForm">
    <p>JOIN</p>
    matchId:&nbsp;<input formControlName="matchId" type="text">
    <p>id: {{ joinForm.get('id').value || 'N/A' }}</p>
    name:&nbsp;<input formControlName="name" type="text">
    <div class="test-console__btn" (click)="join()">
      JOIN
    </div>
  </div>
  <div class="test-console__monitor" *ngIf="roomsData">
    <p>&nbsp;</p>
    <p>ROOMS DATA</p>
    <p>- rooms: {{ roomsData.rooms | json }}</p>
  </div>
  <div class="test-console__monitor" *ngIf="matchData">
    <p>&nbsp;</p>
    <p>MATCH DATA</p>
    <p>- ID: {{ matchData.id }}</p>
    <p>- ACTIVE: {{ matchData.active }}</p>
    <p>- PLAYERS: {{ matchData.players | json }}</p>
    <p>- STATE: {{ matchData.state | json }}</p>
  </div>
</div> -->
