@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.home-container {
  // @include user-select-none;
  @include flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  .home-header {
    @include flex;
    height: 80px;
    h1 {
      font-family: $logo-font;
      font-size: 24px;
      line-height: 56px;
      span {
        margin: 0 5px;
        font-size: 16px;
        &:nth-of-type(2) {
          display: inline-block;
          transform: rotate(175deg);
          margin: 0 1px 0 7px;
          font-size: 14px;
        }
      }
    }
  }
  .home-content {
    @include flex;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade-in 670ms ease-in;
    animation-fill-mode: forwards;
    animation-delay: 50ms;
    .options {
      @include flex;
      flex-direction: column;
      height: 100%;
      p {
        margin-bottom: 24px;
        font-family: $logo-font;
        font-size: 72px;
        color: #dddddd;
      }
      .option-input {
        height: 40px;
        width: 180px;
        border: 1px solid #000000;
        border-radius: 7px;
        font-family: monospace;
        font-size: 20px;
        background-color: transparent;
        outline: none;
        &:nth-of-type(2) {
          margin-top: 8px;
        }
      }
      .option-btn {
        height: 80px;
        width: 120px;
        background-color: transparent;
        border: none;
        font-family: $logo-font;
        font-size: 32px;
        outline: none;
        cursor: pointer;
        &:nth-of-type(2) {
          margin-top: 24px;
        }
      }
      .btn-container {
        @include flex;
        margin-top: 12px;
        .btn {
          height: 60px;
          width: 120px;
          background-color: transparent;
          border: none;
          font-family: $logo-font;
          font-size: 24px;
          outline: none;
          cursor: pointer;
          &:nth-of-type(2) {
            margin-left: 8px;
          }
        }
      }
    }
    .game {
      @include flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      max-width: 640px;
      height: 100%;
      // background-color: rgba(100,0,100,0.2);
      .players {
        @include flex;
        position: relative;
        justify-content: space-between;
        width: calc(100% - 20px);
        padding: 0 10px;
        // background-color: rgba(0,0,100,0.2);
        .player {
          position: relative;
          img {
            width: 96px;
            border: 2px solid #000000;
            border-radius: 50%;
          }
          .player-name {
            position: absolute;
            top: 0px;
            left: 88px;
            width: 120px;
            padding: 3px;
            border: 2px solid #000000;
            border-radius: 8px;
            font-family: $base-font;
            font-size: 16px;
          }
          &:nth-of-type(2) {
            .player-name {
              top: 74px;
              left: -118px;
            }
          }
        }
        .score {
          @include flex;
          position: absolute;
          justify-content: space-between;
          top: 42px;
          left: calc(50% - 60px);
          width: 120px;
          font-family: $logo-font;
          font-size: 16px;
        }
        .score-divider {
          position: absolute;
          top: 45px;
          left: calc(50% - 4px);
          font-family: $logo-font;
          font-size: 14px;
        }
      }
      .table {
        width: 100%;
        height: 60%;
        min-height: 360px;
        // background-color: rgba(0,100,100,0.2);
      }
    }
  }
}



@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.test-console {
  width: 600px;
  height: 400px;
  padding: 20px;
  background-color: #CCCCCC;
  font-family: monospace;
  font-size: 12px;
  .test-console__form {
    .test-console__btn {
      background-color: #777777;
      cursor: pointer;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  .test-console__monitor {

  }
}
